<body class="full-page">
<section class="container">
  <div class="title-box">
  <h1 class="title"> Saved Users</h1>
  </div>
  <div class="form-container">
  <form class="example-form">

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Age</mat-label>
        <textarea matInput placeholder="example@gmail.com"></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  </form>
  </div>
<div class="card-container">
  <mat-card class="card" *ngFor="let user of users">
    <mat-card-header>
    <mat-card-title class="card-title">{{user.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">Age: {{user.age}} <br>
      E-mail: {{user.email}} <br>
    User ID: {{user.userID}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button class="edit-btn">Edit User</button>
      <button mat-flat-button class="delete-btn">Delete User</button>
    </mat-card-actions>
  </mat-card>
</div>
</section>
</body>

