<body class="full-page">
<section class="container">
  <div class="title-box">
    <h1 class="title"> Saved Users</h1>
  </div>
  <div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title class="card-title"> Add New User</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">Add a new user by clicking on the button below</mat-card-content>
      <mat-card-actions>
        <div class="save-btn-container">
          <button class="save-btn" mat-flat-button>Create User</button>
        </div>
      </mat-card-actions>
    </mat-card>
    <mat-card *ngFor="let user of users" class="card">
      <mat-card-header>
        <mat-card-title class="card-title">{{user.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">Age: {{user.age}} <br>
        E-mail: {{user.email}} <br>
        User ID: {{user.userID}}
      </mat-card-content>
      <mat-card-actions>
        <div class="btns">
          <button class="edit-btn" mat-flat-button>Edit User</button>
          <button (click)="deleteUser(user.userID)" class="delete-btn" mat-flat-button>Delete User</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
</body>

